li button.edit-btn,
li button.remove-btn {
    visibility: hidden;
}

li button.edit-btn,
li button.cancel-btn {
    margin-left: auto;
}

li:hover button.edit-btn,
li:hover button.remove-btn {
    visibility: visible;
}

li button.remove-btn,
li button.save-btn {
    margin-left: 10px;
}

li button.save-btn:disabled {
    cursor: not-allowed;
}

#date, #location {
    width: fit-content;
}

#location,
.js-task-location,
.task-date {
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
}

.js-task-location {
    margin: 0 0 0 auto;
}