* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

:root {
    font-size: 16px;

    --navbar-color: #F8F6F4;
    --padding: 15px;

    /* Project hashtag colors */
    --red-hash: #c4001f;
    --lime-green-hash: #56f756;
    --sky-blue-hash: #87ceeb;
    --charcoal-hash: #36454F;
    --magenta-hash: #ff00ff;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    display: flex;
    margin-left: 20vw;
    margin-top: 10vh;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* TASK MODAL */

dialog {
    opacity: 0;
    transform: scaleY(0);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
}

dialog[open] {
    opacity: 1;
    transform: scaleY(1);
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

dialog#newTask-modal, dialog#newProject-modal {
    position: relative;
    align-self: center;
    justify-self: center;
    margin-bottom: 15%;
    width: 25vw;
    min-width: fit-content;
    height: 20vh;
    border-radius: 10px;
    padding: var(--padding);
}

form#newTask-form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

div.form-div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
    gap: 10px;
}

div.form-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

input#task-name {
    font-size: 1.3rem;
}

textarea#task-desc {
    resize: none;
}

input#task-date {
    align-self: flex-start;
}

form button {
    padding: 10px 15px;
    background-color: beige;
    border-radius: 5px;
    font-weight: 600;
}

form button:active:enabled {
    transform: scale(0.95);
}

form select#task-location {
    padding: 5px;
    margin-right: auto;
    width: 10ch;
    border-radius: 5px;
}

form select#task-location:hover {
    background-color: #f3f3f3;
}

form button.submit-modal {
    color: white;
    background-color: lightgreen;
}

form button.submit-modal:disabled {
    color: white;
    background-color: rgba(144, 238, 144, 0.507);
    cursor: not-allowed;
}

/* PROJECT MODAL */
dialog#newProject-modal {
    height: auto;
    width: 20vw;
}

dialog#newProject-modal h1 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

dialog#newProject-modal label {
    font-weight: bold;
}

dialog#newProject-modal label.project-switch {
    font-weight: normal;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

dialog form input#project-name {
    border: 1px solid rgba(128, 128, 128, 0.356);
    padding: 7px;
    border-radius: 5px;
}

dialog form select#project-color {
    margin-bottom: 10px;
}


/* SIDEBAR */

div.sidebar {
    z-index: 10;
    width: 15vw;
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    transition: none;
    padding: var(--padding) var(--padding) 0 var(--padding);
}

button#toggle-sidebar {
    margin-left: auto;
    margin-right: 0;
}

/* USER */

div.user {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 5vh;
}

div.new-task {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 10px;
}

div.categ-filters,
div.categ-favorites,
div.categ-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

div.project-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

button.filter-item,
button.favorite-item,
button.project-item {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    gap: 10px;
}

button.filter-item:hover,
button.favorite-item:hover,
button.project-item:hover {
    background-color: #cecece;
}

button.tab.selected {
    background-color: #CDE8E5;
}

div.favorite-heading,
div.project-heading {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

p.task-count {
    margin-left: auto;
}

button#add-project {
    margin-left: auto;
}

button#add-task {
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-options {
    margin-left: auto;
}

/* SECTION LIST */

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

section ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

section ul li {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #F8F6F4;
    padding-bottom: 10px;
    width: 100%;
}

li button {
    height: 22px;
}

button img.check-icon:hover {
    height: 22px;
    content: url('./assets/icons/circle-check.svg');
}