* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

:root {
    font-size: 16px;

    --navbar-color: #F8F6F4;
    --padding: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto;
}

main {
    width: inherit;
    display: flex;
    margin-left: 20vw;
    margin-top: 10vh;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* TASK MODAL */

dialog {
    opacity: 0;
    transform: scaleY(0);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
}

dialog[open] {
    opacity: 1;
    transform: scaleY(1);
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

dialog[open]::backdrop {
}

dialog#newTask-modal {
    align-self: center;
    justify-self: center;
    margin-bottom: 15%;
    width: 25vw;
    min-width: fit-content;
    height: 20vh;
    border-radius: 10px;
    padding: var(--padding);
}

form#newTask-form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

div.form-div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
    gap: 10px;
}

div.form-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

input#task-name {
    font-size: 1.3rem;
}

textarea#task-desc {
    resize: none;
}

input#task-date {
    align-self: flex-start;
}

form button {
    padding: 10px 15px;
    background-color: beige;
    border-radius: 5px;
    font-weight: 600;
}

form button:active:enabled {
    transform: scale(0.95);
}

form button#submit-task {
    color: white;
    background-color: lightgreen;
}

form button#submit-task:disabled {
    color: white;
    background-color: rgba(144, 238, 144, 0.507);
    cursor: not-allowed;
}

/* SIDEBAR */

div.sidebar {
    z-index: 10;
    width: 15vw;
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    transition: none;
    padding: var(--padding) var(--padding) 0 var(--padding);
}

button#toggle-sidebar {
    margin-left: auto;
    margin-right: 0;
}

/* USER */

div.user {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 5vh;
}

div.new-task {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 10px;
}

div.categ-filters, div.categ-favorites, div.categ-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

div.favorite-items,
div.project-items {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

button.filter-item, button.favorite-item, button.project-item {
    height: 3vh;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    gap: 10px;
}

button.filter-item:hover,
button.favorite-item:hover,
button.project-item:hover {
    background-color: #CDE8E5;
}

div.favorite-heading, div.project-heading {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

p.filter-count {
    margin-left: auto;
}

button#add-project {
    margin-left: auto;
}

button#add-task {
    display: flex;
    gap: 10px;
    align-items: center;
}